{% extends 'base.html' %} {% block title %}-首页{% endblock %} {% block head %}
{% endblock %} {% block main %}

<div class="content-wrapper">
  <div class="row">
    <div
      class="col-lg-12 col-xs-12 col-sm-12 col-md-12 grid-margin stretch-card"
    >
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">全国数据</h4>
          <!-- <p class="card-description">Add class <code>.table</code></p> -->
          <div class="table-responsive">
            <table class="table" style="vertical-align: middle;">
              <thead>
                <tr>
                  <!-- <th>Profile</th>
                  <th>VatNo.</th>
                  <th>Created</th>
                  <th>Status</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>库中农机总数（台）</td>
                  <td>4303</td>
                  <!-- <td>12 May 2017</td>
                  <td><label class="badge badge-danger">Pending</label></td> -->
                </tr>
                <tr>
                  <td>农机调度时间（小时）</td>
                  <td>NULL</td>
                  <!-- <td>12 May 2017</td>
                  <td><label class="badge badge-danger">Pending</label></td> -->
                </tr>
                <tr>
                  <td>农机工作时间（小时）</td>
                  <td>NULL</td>
                  <!-- <td>12 May 2017</td>
                  <td><label class="badge badge-danger">Pending</label></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-12 col-xs-12 col-sm-12 col-md-12 grid-margin stretch-card"
    >
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">每日农机活跃数量</h4>
          <!-- <p class="card-description">Add class <code>.table</code></p> -->
          <div class="table-responsive">
            <table
              class="table table-striped"
              style="vertical-align: middle; text-align: center;"
            >
              <thead>
                <tr>
                  <th>日期</th>
                  <th>活跃数量（台）</th>
                </tr>
              </thead>
              <tbody>
                {% for i in result %}
                <tr>
                  <td>{{i['date']}}</td>
                  <td>{{i['nums']}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
