{% extends 'base.html' %}
{% block title %}-地图选择{% endblock %}
{% block head %}
{% endblock %}
{% block main %}

<div class="content-wrapper">
    <div class="row">

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">当前数据库中的日期</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr align="center">
                                <th>年</th>
                                <th>月</th>
                                <th>日</th>
                                <th>轨迹数</th>
                                <th>查看</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for line in result %}
                            <tr align="center" >
                                <td>{{ line[0] }}</td>
                                <td>{{ line[1] }}</td>
                                <td>{{ line[2] }}</td>
                                <td>{{ line[3] }}</td>
                                <td><a href="{{ url_for('map.MyMap',date = line[0]|string+'-'+line[1]|string+'-'+line[2]|string) }}"> <button  class="btn btn-link">查询</button> </a></td>

                            </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">查询某一天的地图情况</h4>
                    <p class="card-description">
                        输入年月日后，即可查看当日地图
                    </p>
                    <form class="forms-sample" action="{{ url_for('map.tempMap') }}" method="post" onclick="OnSubmit">
                        <div class="form-group">
                            <label for="datepicker">请选择日期</label>
                            <input type="date" class="form-control" id="datepicker" name="datepicker" >
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">查询</button>
                        <button type="reset" class="btn btn-light">清空</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->

<!-- partial -->


<script>
    function OnSubmit() {
        {#var errorinfo = $('#label_error');#}
        if ($('#datepicker').val() == '') {
            {#errorinfo.html('登录邮箱不能为空');#}
            return false;
        }
        return true;
    }
</script>
{% endblock %}
